# Указываем используемую версию
use go go1.9.2
# Если Нужен GOPATH Глобальный
GlobalGOPATH=$(dirname $(dirname $(dirname $(dirname "$(pwd)"))))
# Если Нужен GOPATH Локальный
LocalGOPATH=$(pwd)/vendor


export GOPATH=$GlobalGOPATH:$LocalGOPATH:$GOPATH
export PATH=$GlobalGOPATH/bin:LocalGOPATH/bin:$PATH